* {
  padding: 0;
  margin: 0;
}


img {
    display: block;
}

.text-center {
    position: relative;
    display: inline-block;
}

.caption {
    position: absolute;
    font-size: 35px;
    top: 48%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
}


.sub-heading {
    position: absolute;
    font-size: 50px;
    width: 100%;
    top: 58%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
}

.container {
  display: flex;
  margin-left: 250px;
  width: 87%;
}


.img {
  border-radius: 10px;
  margin-bottom: 15px;
  max-width: 100%;
}



.section {
  text-align: center;
  width: 100px;
  border-radius: 10px;
  padding: 15px;
  flex: 1; /*grow*/
  border: 1px solid lightgrey;
  margin-bottom:90px;
  margin-left: 20px
}



.readMore1 {
  border: 3px solid black;
  border-radius: 25px;
  padding: 10px;
  margin-top: 60px;
  display: block;
  margin-left: 20%;
  text-transform: uppercase;
  font-weight: 700;
  width: 150px;
  background-color: white;
}


.readMore2 {
  border: 3px solid black;
  border-radius: 25px;
  padding: 10px;
  margin-top: 25px;
  display: block;
  margin-left: 23%;
  text-transform: uppercase;
  font-weight: 700;
  width: 150px;
  background-color: white;
}
.readMore {
  border: 3px solid black;
  border-radius: 25px;
  padding: 8px;
  margin-top: 8px;
  display: block;
  margin-left: 25%;
  text-transform: uppercase;
  font-weight: 700;
  width: 150px;
  background-color: white;
}


/* Don't display mobile on desktop  */
.header-mobile, .caption-mobile {
display: none;
}


@media (max-width: 320px) { /*breakpoint-mobile*/
  .container, .section, .header {

    flex-direction: column;
    margin-bottom: 20px;

  }
  .caption-mobile {
    display: inline;
    position: absolute;
    font-size: 25px;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
  }
  .header {
    display: none;
  }
  .header-mobile {
    margin-top: -20px;
    display:block;

  }
  .section {
    max-width: 98%;


  }
  .section, .container {
    width: 87%;
    margin-top: 10px;
    text-align: center;
    margin-left: 80px;
  }


  .sub-mobile {
    display: block;
    padding: 20px;
    font-size: 20px;
    width: 300px;
    margin-left: 35px;

  }
  .header-moble {
    max-width: 900px;
  }
  .readMore, .readMore1, .readMore2 {
    border: 3px solid black;
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    display: block;
    margin-left: 25%;
    text-transform: uppercase;
    font-weight: 700;
    width: 120px;
    background-color: white;
  }
  .caption-mobile {
    display: inline;
    position: absolute;
    font-size: 25px;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
  }

}
